{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Recent Blog</h5>
    <div class="card-body">
        {% for blog in blog_list %}
        <div class="card mb-4">
          <div class="card-body">
            <h2 class="card-title">{{ blog.title }}</h2>
            <img style="width: 100px; height: 100px;" src="{{blog.blog_image.url}}" alt="Image">
            <p class="card-text text-muted h6">{{ blog.author }} | {{ blog.created_on}} </p>
            <p>{{ blog.created_on }}</p>
            <p class="card-text">{{blog.content|slice:":100" }}</p>
          
          </div>
  
        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock sidebar %}